@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.header h1 {
    font-size: 48px;
    font-weight: 700;
}

.btn-view {
    background: rgba(94, 34, 23) !important;
    color: white !important;
    border: none !important;
    box-shadow: 0 46px 130px rgba(94, 34, 23, 0.15);
}

.btn-view:hover {
    background:  #2C2C2C !important;
    color: white !important;
    border: none !important;
    box-shadow: 0 46px 130px rgba(94, 34, 23, 0.15);
}

i {
    color: white;
    font-size: 16px;
}

span {
    color:  rgba(94, 34, 23) ;
    font-weight: 700;
}